<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>费用单列表</title>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content=/"portrait">
    <!-- QQ强制竖屏 -->
    <!--<meta name="x5-orientation" content="portrait">-->
    <!-- UC强制全屏 -->
    <!--<meta name="full-screen" content="yes">-->
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/costSheet.css">
    <script>
        (function(designWidth, maxWidth) {
            var doc = document,
                    win = window;
            var docEl = doc.documentElement;
            var tid,rootItem,rootStyle;

            function refreshRem() {
                var width = docEl.getBoundingClientRect().width;
                if (!maxWidth) {
                    maxWidth = 540;
                };
                if (width > maxWidth) {
                    width = maxWidth;
                }
                //与淘宝做法不同，直接采用简单的rem换算方法1rem=100px
                var rem = width * 100 / designWidth;
                //兼容UC开始
                rootStyle="html{font-size:"+rem+'px !important}';
                rootItem = document.getElementById('rootsize') || document.createElement("style");
                if(!document.getElementById('rootsize')){
                    document.getElementsByTagName("head")[0].appendChild(rootItem);
                    rootItem.id='rootsize';
                }
                if(rootItem.styleSheet){
                    rootItem.styleSheet.disabled||(rootItem.styleSheet.cssText=rootStyle)
                }else{
                    try{rootItem.innerHTML=rootStyle}catch(f){rootItem.innerText=rootStyle}
                }
                //兼容UC结束
                docEl.style.fontSize = rem + "px";
            };
            refreshRem();

            win.addEventListener("resize", function() {
                clearTimeout(tid); //防止执行两次
                tid = setTimeout(refreshRem, 300);
            }, false);

            win.addEventListener("pageshow", function(e) {
                if (e.persisted) { // 浏览器后退的时候重新计算
                    clearTimeout(tid);
                    tid = setTimeout(refreshRem, 300);
                }
            }, false);

            if (doc.readyState === "complete") {
                doc.body.style.fontSize = "16px";
            } else {
                doc.addEventListener("DOMContentLoaded", function(e) {
                    doc.body.style.fontSize = "16px";
                }, false);
            }
        })(640, 640);
    </script>
</head>
<body>
<header>
    <a href="../../index.htm"><i class="icon iconfont icon-fanhui1 back"></i></a>
    <span class="title-name">费用单列表</span>
</header>
<div class="content">
    <ul class="list">

    </ul>
</div>
<div class="footer">
    <div class="footer-top cf">
        <span class="checkbox">
            <input name="selectStatus" type="checkbox" class="allCheckbox">
            <i class="icon iconfont icon-31xuanze"></i>
        </span>
        <span class="total-selection blue">全选</span>

        <div class="addReimbursement">
            创建报销单
        </div>
    </div>
    <div class="footer-bottom">
        <a href="newCost.htm">
            <i class="icon iconfont icon-jilu blue"></i>
            <p>普通录入</p>
        </a>
    </div>
</div>
<!--提示模态框-->
<div class="message cf">
    <p class="message-content">消息</p>
    <i class="icon iconfont icon-guanbi message-close" onclick="closeMessage()"></i>
</div>

<script src="../../js/jquery.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/addUrl.js"></script>
<script src="../../js/index.js"></script>
<script>
    let $body = $('body');
    let $checkbox = $('.checkbox');//获取所有复选框
    let $allCheckbox = $('.allCheckbox');//全选复选框
    let $addReimbursement = $('.addReimbursement');//创建报销单
    let $list = $('.list');

    //点击创建报销单事件
    $addReimbursement.on('click',function(){
        let ids = ''
        if($('.inputcheckbox:checked').length > 0){
            $('.inputcheckbox:checked').each(function(i){
                if(i == 0){
                    ids += $(this).val();
                }else{
                    ids += ',' + $(this).val();
                }
            })
            window.location.href='newReimbursement.htm?ids='+ids
        }else{
            console.log('@');
            changeMessage('请选择费用单')
        }
    });
    //点击全选事件
    $allCheckbox.on('click',function(){
        if($(this).prop('checked')){
            $('.inputcheckbox').prop('checked','checked')
        }else{
            $('.inputcheckbox').prop('checked','')
        }
    })
    //调用ajax获取参数
    ajax();
    //点击跳转查看费用单页面
    $body.delegate('.list-li','click',function(){
        let id = $(this).find('.inputcheckbox').val();
        window.location.href='seeCost.htm?id='+id
    });
    //checkbox阻止冒泡
    $body.delegate('.checkbox','click',function(e){
        e.stopPropagation()
    });


    //跳转费用单详情事件
    function openCost(id){
        console.log(id);
    }

    function ajax(){
        let url = addUrl('costSheet')
        rrz.ajax(
                url,
                {
                    userId:'1578838440249657438',
                    token:'lEbnZ0HCwpGzbAtg7LPp3UtETgJo2nmM9NYg5jjHkGXlKTMKMBbWjmVEYhPyjwZm',
                    bookId:'1613907765352204656',
                    flg:'0',
                },
                function (data, msg) {
                    let html = ''
                    for(let i in data){
                        let id = data[i].id
                        let typeCode = data[i].typeCode;//费用大类type
                        let childTypeCode = data[i].childTypeCode;//费用小类type
                        let type = (typeCode < 4) ? typeCode + '-' + childTypeCode : typeCode;
                        let childTypeName = data[i].childTypeName;//费用名称
                        let receiptDate = data[i].receiptDate;
                        let discription = data[i].discription.length > 11 ? data[i].discription.substring(0,11) + '...' : data[i].discription
                        let money = number(data[i].money)

                        html +='\
                        <li class="list-li">\
                             <span class="checkbox">\
                                 <input name="selectStatus" type="checkbox" value="'+ id +'" class="inputcheckbox">\
                                 <i class="icon iconfont icon-31xuanze"></i>\
                             </span>\
                            <img class="list-li-img" src="../../images/expense/originalReceipt'+ type +'.png" alt="">\
                            <div class="list-li-name">\
                                <p>'+ childTypeName +'</p>\
                                <p class="list-li-time">'+ receiptDate +'</p>\
                            </div>\
                            <div class="list-li-detailed">\
                                '+ discription +'\
                            </div>\
                            <div class="list-li-money">\
                                '+ money +'\
                            </div>\
                        </li>'
                    }
                    $list.html(html)


                },
                function (data, msg) {
                    console.log(data);
                    console.log(msg);
                });
    }
</script>
</body>
</html>